.home {
}

// hamburger icon
.menu-icon {
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
}
.hover-style:hover {
  background: rgba(193, 218, 255, 0.3);
  border-radius: 10px;
}
