// new color pallets
$color-white: #ffffff;
$color-black: #1b1b1b;
$color-primary: #c1daff;
$color-primary-light: rgba(193, 218, 255, 0.2);
$color-blue: #c1daff;
$color-blue-dark: #5693ee;
$color-purple: #bfbdf7;
$color-purple-dark: #5e59df;
$color-green: #7fc9c7;
$color-green-dark: #48a09e;
$color-pink: #fdd6cb;
$color-pink-dark: #df947f;
$color-text-primary: #1b1b1b;
$color-text-disbled: #b6b6b6;
$color-text-light: #f3f8ff;
$color-text-gray: #e9e9e9;

// old color pallets
$color-mercury: #e5e5e5;
$color-shark: #212529;
$color-offWhite: #f0f0f0;
$color-lightGray: #a2a2a2;
$color-border: #c1daff;
